<div class="container">
	<div style="margin-top: 30px" class="row text-center">
		<img style="width: 180px;" class="logo" src="https://mrlcdn.azureedge.net/static/images/new-logo.svg?v=05e77de242a0c78eb9174f1eff180649" alt="Mural">
		<h2>Tech challenge mural.co</h2>
		<h3>by <strong>>Gonzalo Pombo</strong></h1>
	</div>
	<div style="margin-top: 40px" class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<form class="form-signin" ng-submit="signin()">
				<div class="form-group">
					<label>Enter username</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" class="form-control" ng-model="username" name="username" placeholder="username">                                  
					</div>				
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-default ">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>